.icon-button {
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
}  
.icon-button:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}
.icon-button.glow {
    filter: drop-shadow(0 0 2px rgba(0, 0, 255, 0.7));
    color: rgba(0, 0, 255, 0.7);
}